<style>
    .button {
        display: inline-block;
        border-radius: 12px;
        background-color: #f44d47;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 26px;
        padding: 20px;
        width: 250px;
        margin: 5px;
    }
</style>
<h3 style="text-align: right">Hello {{ user.user_name }}</h3>
<h3>Q {{ question.id }}. {{ question.question_text }}</h3>
<h3>Your Answer: {{ res.user_answer }}</h3>
<p id="result"></p>
<button id="btn" type="button" onclick="check_result()" style="font-size : 16px">Check Result</button>
<p id="next_button"></p>

<script>
    function check_result() {
        var xyz = {{ res.score }};
        if (xyz === 1) {
            document.getElementById("result").innerHTML = "<h1>RIGHT ANSWER</h1>";
        }
        else {
            document.getElementById("result").innerHTML = "<h1>WRONG ANSWER</h1>";
        }
        document.getElementById("btn").style.display = 'none';

        var temp = {{ question.id }} +1;
        var u = {{ user.id }};
        url = '/questions/' + u + '/' + temp + '/';
        html = "<br><br><a href='/questions/' onclick='this.href=url' style='text-decoration:none;color:#FFFFFF'><button class='button'>Next Question</button></a>";
        document.getElementById("next_button").innerHTML = html;
    }
</script>